<div class="col-sm-8 blog-main">
  <%= render @blogs %>
  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>
  <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
</div>
