<h1>Hi, <%= current_user.first_name %></h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Blog Posts</h2>
<%= @blogs.inspect %>

<h2>Skills</h2>
<%= @skills.inspect %>

<%= content_tag :p, class: 'my-special-class' do %>
Hi, I'm in a p tag.
<% end %>
